@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
  font-family: Outfit;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: ew-resize;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: transparent;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}
